<phpunit bootstrap="bootstrap.php" colors="true">
    <!-- setup php constants and settings for testing -->
    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="date.timezone" value="UTC"/>
    </php>

    <!-- setup the default test suites -->
    <testsuites>
        <testsuite name="All Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <!-- specify which files should be included in code coverage reports -->
    <filter>
        <whitelist>
            <directory suffix="php">../src</directory>
        </whitelist>
    </filter>

    <!-- logging for the unit test coverage -->
    <logging>
        <log type="coverage-html" target="../build/phpunit" />
    </logging>
</phpunit>